body
{
	background-color: #f5e6e9;
	background-image: url('../images/circles.png');
	font-family: Georgia, "Times New Roman", Times, serif;	
	padding-left: 15em;
	padding-right: 5em;
	
}

h1
{
	font-family: Geneva, Helvetica, Arial, sans-serif;
	
}

ul
{
	font-family: Geneva, Helvetica, Arial, sans-serif;
}

ul.navbar
{
	list-style-type: none;
	position: absolute;
	top: 2em;
	left: 1em;
	width: 10em;

}

ul.navbar li
{
	background: white;
	margin: 0.5em 0;
	padding: 1em;
	border-left: 1em solid black;
}

a:visited
{
color: #495887;
}

img.textwrap
{
float:right;
margin:10px;
}